* {
	padding: 0;
	margin: 0;
	box-sizing: border-boxs;
	cursor: pointer;
	scroll-behavior: smooth;
}

/*fonts*/
@font-face {
	font-family: "montserrat-bold";
	src:url("font/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "montserrat-regular";
	src:url("font/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "kaushan";
	src:url("font/KaushanScript-Regular.ttf");
} 
@font-face {
	font-family: "roboto-regular";
	src:url("font/Roboto-Regular.ttf");
}
@font-face {
	font-family: "roboto-lightI";
	src:url("font/Roboto-LightItalic.ttf");
}

/*Header*/
header {
	background-color: #f8f8f8;
	position: relative;
}

header #header-right {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

/*header-right*/
header #header-right ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 10px;
	margin-bottom: 0px;
	list-style: none;
}

header #header-right ul li {
	margin-right: 20px;
}

header #header-right ul li:hover a, header #header-right ul li:hover i {
	color: #2d3436;
}

header #header-right ul li a{
	text-decoration: none;
	color: #9fa8bc;
}

header #header-right ul li i {
	color: #8d8d8d;
}


/*header-left*/
/*img*/
header #header-left img {
	height: 50px;
	width: 150px;
}

/*Advanced search*/
header #header-left span:nth-of-type(2) {
	color: #9fa8bc;
	cursor: pointer; 
}

header #header-left i {
	color: #8d8d8d;
}

header #header-left span:nth-of-type(2):hover {
	color: #2d3436;
}

/*input-search*/
header #header-left .wrapper .search-input input {
	padding: 7px 15px;
	margin-left: 20px;
	margin-right: -4px;
	border: 1px solid #bdc3c7;
	cursor: text;  
}

header #header-left .wrapper .search-input span:nth-of-type(1) {
	color: #2d3436;
	border: 1px solid #bdc3c7; 
	padding: 9px;
	background-color: white;
	border-left: none;
	padding-bottom: 10px;
	margin-right: 20px; 
	cursor: pointer; 
}

header #header-left .wrapper .search-input span:nth-of-type(1):hover {
	background-color: #78e08f;
	color: white;
}

header #header-left .wrapper {
	display: inline-block;
	position: relative; 
}

header #header-left .wrapper .search-input .autocom-box {
	position: absolute; 
	top: 100%;
	left: 20px;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 205px;  
	border: 1px solid #bdc3c7; 
	z-index: 100;
	display: none;
}

header #header-left .wrapper .search-input .autocom-box li {
	list-style: none;
	padding: 10px 15px;
}

header #header-left .wrapper .search-input .autocom-box.active {
	display: block;
}

header #header-left .wrapper .search-input .autocom-box li:hover {
	background-color: #bdc3c0;
	border-radius: 10px;
}


/*Body*/
main {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
}

/*Navbar*/
main {
	min-height: 88vh;
}

main #navbar-left {
	min-width: 350px; 
}

main #navbar-left > div {
	position: sticky;
	top:  0;
	left: 0;
}

main #navbar-left h3{
	margin: 0;
	font-size: 15px;
	color: #77b49d;
	padding: 50px 0 20px 30px;
}

main #navbar-left ul li {
	margin: 15px 0px 15px 45px;
	list-style: none; 
	cursor: pointer; 
}

main #navbar-left ul li  > div {
	width: 25px;
	display: inline-block;
}

main #navbar-left ul li a{
	text-decoration: none;
	color: #444444;
}

main #navbar-left ul li i {
	color:  #444444;
}

main #navbar-left ul hr {
	background-color: gray;
	width: 250px; 
	height: 1px;	
	margin-left: 30px;
}

main #navbar-left ul li:hover i, main #navbar-left ul li:hover a {
	color:  #77b49d;
}

/*Navbar - category*/

main #navbar-left div ul li:nth-child(8) .category{
	display: none;
}

main #navbar-left div ul li:nth-child(8) .category a{
	text-decoration: none;
	color: white;
}


main #navbar-left div ul li:nth-child(8):hover .category{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px; 

	background-color: #222;
	width: 80%; 
	padding: 20px;
	color: white !important;  
	border-radius: 10px;
}

main #navbar-left div ul li:nth-child(8) .category div:hover {
	color: #2ecc71;
}

/*Navbar - sort book*/

main #navbar-left div ul li:nth-child(2) .category{
	display: none;
}

main #navbar-left div ul li:nth-child(2) .category a{
	text-decoration: none;
	color: white;
}


main #navbar-left div ul li:nth-child(2):hover .category{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px; 

	background-color: #222;
	width: 80%; 
	padding: 20px;
	color: white !important;  
	border-radius: 10px;
}

main #navbar-left div ul li:nth-child(2) .category div:hover i,
main #navbar-left div ul li:nth-child(2) .category div:hover {
	color: #2ecc71;
}


main #navbar-left div ul li:nth-child(2) .category div i {
	color: white;
	font-size: 13px;
	margin: 2px; 
}





/*Body-booklist*/
main #book-storage {
	flex-grow: 1;
}

main #book-storage h2 {
	margin-top: 50px;
	margin-bottom: 40px; 
	font-size: 50px;
	color: #77b49d;
	font-family: "kaushan";
}

main #book-storage .grid-items img {
	min-width: 100px;
	height: 200px; 
}

main #book-storage .grid-items div {
	position: relative;
}

main #book-storage .grid-items div span {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2ecc71;
	color: white;
	padding: 5px 10px;
	display: none;
	border-left: 5px solid green;
	font-size: 15px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

main #book-storage .grid-items div:hover span{
	display: block;
}

main #book-storage .grid-items img:hover {
	box-shadow: 10px 5px #bdc3c7;
	transition: 0.5s;
}

main #book-storage .grid-items h5 {
	color: #44446a;
	font-size: 15px;
	font-weight: bold;
}

main #book-storage .grid-items h6 {
	color: #2ecc71;
	font-size: 13px; 
}

main #book-storage .grid-items i {
	font-size: 12px;
}

main #book-storage .grid-items i:nth-of-type(1),
main #book-storage .grid-items i:nth-of-type(2),
main #book-storage .grid-items i:nth-of-type(3) 
{
	color: #2ecc71;
}

main #book-storage #grid-wrapper {
	margin-bottom: 100px;   
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/*grid-template-rows: repeat(5, 1fr);*/
	grid-gap: 40px;
}

/*Footer*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: black;
	color: #2ecc71;
	opacity: 0.8; 
}

/*Scroll to top button*/
#scroll_to_top {
	position: fixed;
	bottom: 15px;
	right: 10px;
	font-size: 22px;
	height: 50px;
	width: 50px; 
	border-radius: 50%;
	border: none;
	color: white;
	background-color: #2ecc71;
	opacity: 0.7;  
}

#scroll_to_top:hover {
	opacity: 1;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); 
}

/*Other pages ralated*/
/*Contact page*/
main #contact {
	height: 88vh;
	flex-grow: 1;
}

main #contact h2 {
	margin-top: 50px;
	margin-bottom: 20px; 
	font-size: 50px;
	color: #77b49d;
	font-family: "kaushan";
}

main #contact form label > div {
	display: inline-block;
	min-width: 200px;
	margin-left: 100px; 
	margin-bottom: 10px;  
}

main #contact form {
	position: relative; 
}

main #contact form span {
	font-size: 20px;
	color: #2d3436;
	font-family: "montserrat-regular";
}

main #contact form label input {
	min-width: 450px;
	padding: 10px;
	font-size: 20px;
	color: #2d3436;
	font-family: "montserrat-regular";
	border-radius: 10px;
	border: 1px solid black;
} 

main #contact form label textarea {
	min-width: 450px;
	resize: none;
	overflow: auto;
	border-radius: 20px;
	padding: 20px; 
	font-size: 20px;
	margin-left: 300px;
}

main #contact form button {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s,transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow,transform;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 680px;
}

main #contact form button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

main #contact form button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

main #contact form button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*Details*/
main #details {
	padding-bottom: 100px; 
	padding-right: 50px;
}

main #details .detail-wrapper h3{
	font-size: 35px;
	font-weight: bold;
	margin-top: 100px;  
}

main #details .detail-wrapper hr{
	height: 2px; 
	background-image: linear-gradient(to right,black,white);
}

main #details .detail-wrapper p{
	font-size: 20px;  
	font-style: italic;
}

main #details h2 {
	margin-top: 50px;
	margin-bottom: 20px; 
	font-size: 50px;
	color: #77b49d;
	font-family: "kaushan";
}

main #details .detail-wrapper i.fa-star:nth-of-type(1),
main #details .detail-wrapper i.fa-star:nth-of-type(2),
main #details .detail-wrapper i.fa-star:nth-of-type(3) 
{
	color: #2ecc71;
} 

main #details .detail-wrapper .flex-detail {
	display: flex;
	flex-wrap: wrap;
}

main #details .detail-wrapper .flex-detail img {
	height: 350px;
	width: 250px;
	margin: 20px 50px 20px 30px;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

main #details .detail-wrapper .flex-detail #left-image #detail-title {
	font-size: 40px;
	font-weight: bolder;
	margin-top: 20px; 
}

main #details .detail-wrapper .flex-detail #left-image .detail-list {
	margin: 20px 0px;
}

main #details .detail-wrapper .flex-detail #left-image .detail-list i {
	margin-right: 10px; 
	font-size: 15px;
}

main #details .detail-wrapper .flex-detail #left-image .detail-list span {
	font-size: 20px;
}

main #details .detail-wrapper button {
	color: whitesmoke;
	background-color: #2ecc71;
	border: none;
	padding: 10px 15px;
	border-radius: 20px;
	opacity: 0.7; 
	font-size: 15px;
}

main #details .detail-wrapper button:hover {
	opacity: 1; 
}

main #details .detail-wrapper .detail-comment {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid black;
	margin-bottom:  20px;
	border-radius: 20px;
}

main #details .detail-wrapper .detail-comment:hover {
	background-color: #54a0ff;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

main #details .detail-wrapper .detail-comment:hover i {
	color: #2e86de;
}

main #details .detail-wrapper .detail-comment p {
	margin: 0; 
}

main #details .detail-wrapper .detail-comment i {
	font-size: 30px;
	padding: 20px; 
	color: #7bed9f; 
}

/*Account*/
main #account {
	width: 100%; 
}

main #account #account-banner {
	background: url("../imgs/banner_account.jpg"); 
	padding: 10px 0 30px 50px;
	background-size: cover;
}

main #account #account-banner h2 {
	font-size: 50px;
	color: #2ed573;
	font-family: "kaushan";
}

main #account #account-banner h2 span {
	font-size: 30px;
	color: white;
	font-family: "kaushan";
	font-style: italic;
}

main #account #account-banner img {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8); 
}

main #account h3{
	font-size: 35px;
	font-weight: bold;
	margin-top: 50px;  
}

main #account hr{
	height: 2px; 
	background-image: linear-gradient(to right,black,white);
}

main #account div:nth-of-type(2) h5{
	font-size: 20px;  
	font-style: italic;
	margin-bottom: 15px; 
}

main #account #grid-wrapper{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	overflow: hidden; 
	padding-bottom: 50px;
}

main #account #grid-wrapper img{
	width: 200px;
	height: 250px;
	padding: 20px;
}

/*Upload*/
main #upload_book {
	width: 100%; 
}

main #upload_book h2{
	margin-top: 50px;
	margin-bottom: 20px; 
	font-size: 50px;
	color: #77b49d;
	font-family: "kaushan";
}

main #upload_book form {
	padding: 0px 0px 50px 100px;
}

main #upload_book input {
	min-width: 500px;
	padding: 10px;
	font-size: 20px;
	color: #2d3436;
	font-family: "roboto-lightI";
	border-radius: 10px;
	border: 1px solid black;
}

main #upload_book #genre_section input,
main #upload_book #status_section input {
	min-width: 20px;
	padding: 10px;
	font-size: 20px;
	color: #2d3436;
	font-family: "roboto-lightI";
	border-radius: 10px;
	border: 1px solid black;
}

main #upload_book form span {
	font-size: 20px;
	color: #2d3436;
	font-family: "montserrat-bold";
}

main #upload_book form label {
	margin-top: 20px;
}

main #upload_book textarea {
	width: 100%;
	resize: none;
	overflow: auto;
	font-size: 20px;
	padding:  10px;
	border-radius: 10px;
	font-family: "roboto-lightI";
}

main #upload_book input[type="file"] {
	background-color: white;
}

main #upload_book button {
	padding: 10px 15px;
	border-radius: 10px;
	background-color: #54a0ff;
	font-size: 15px;
	color: white;
	border: 1px solid black;
	margin-top: 20px;
}

main #upload_book button:hover {
	background-color: blue;
}

/*Responsive*/
@media (max-width: 1200px)
{
	main #contact {
		height: 100vh;
	}

	main #contact form label > div {
		margin-left: 0; 
	}

	main #contact form label textarea {
		margin-left: 200px;
	}

	main #contact form button {
		margin-left: 580px;
	}

	/*upload*/
	main #upload_book form {
		padding: 0px 0px 50px 0px;
	}

}